@charset 'UTF-8';

.box-verified{
    padding: 8px 0;
    margin: 10px 0;
    text-align: center;
    background-color: #ffc107;
    color: white;
    font-size: 20px;
    display: block;
    width: 100%;
}
.mt-60 {
    margin-top: 60px;
}
/* Welcome Home */

.welcome-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/cover.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 3rem 0;


    &:before {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .75);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
    }


}

.member-login {
    padding: 2rem;
    width: 32rem;
    border-radius: .5rem;
    border: solid 1px #EEE;
    box-shadow: 0 10px 60px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, .9);


    .main-logo {
        text-align: center;
        display: block;
        margin-bottom: 2rem;

        img {
            max-height: 64px;
        }
    }

    .login-form {
        margin-top: 2rem;

        label {
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    &.-register {
        width: 64rem;
        padding: 4rem;

        .main-logo {
            text-align: left;
        }
    }
}



/* Main Section */

.main-section {
    display: flex;
    margin-top: 58.5px;

    .side-bar {
        width: 240px;
        background: #333;
        height: 100%;
        color: #FFF;
        position: fixed;
        left: 0;
        z-index: 999;
    }

    .main-content {
        width: calc(100% - 240px);
        margin-left: 240px;
        background-color: #DDD;
        background: url('../img/dashboard-bg.jpg') center center no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;


        &:before {
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .9);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            content: '';
        }

    }
}

.side-menu {
    padding: 2rem;
    margin: 0;
    list-style: none;

    >li {
        a {
            display: block;
            padding: .75rem 0;
            color: #FFF;

            i {
                width: 32px;
            }
        }
    }
}


.content-area {
    padding: 2rem;

    &.-admin {
        // background: #555 !important;
    }
}

.news-section {
    margin-bottom: 2rem;
}

/* Card */


.card {
    .card-header {
        .title {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 1.25rem;
        }
    }
}

.card {
    margin-bottom: 2rem;
}



/* My Profile */

.my-profile {
    .greeting {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    padding: 2rem;
    background: url('../img/dashboard-bg.jpg') center center no-repeat;
    background-size: cover;

    >ul {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }
}

/* My Fund */

.my-fund {
    .fund-summary {
        i {
            margin-right: 2rem;
        }

        p {
            margin: 0;

            &.amount {
                font: 700 normal 1rem $font-pri;
            }

        }
    }
}

/* My Partner */

.partner-list {
    .partner {
        margin-bottom: 0;
        font-weight: 700;
    }
    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}

/* My Rank */

.my-rank {
    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 1rem;
    }

    .number {
        font-weight: 700;
    }

    .user {
        font-weight: 700;
    }
}

/* Order Statement */

.order-statement {
    iframe {
        width: 100% !important;
        height: 75vh;
    }
}

/* Member Managhement */

.member-id {
    text-transform: uppercase !important;
}




/* my modal */

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: .3125em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #333;
}



.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.img_modal {
    width: 100%;
    height: 100%;
}

.drop-menu{
    border: 1px solid #c5c5c5;
    background-color:white;
    position: absolute;
    width: 350px;
    z-index: 1040;
    overflow-y: auto;
    padding: 0;
    display: block;
}
.drop-menu {
    >li {
        display: block;
        width: 100%;
        overflow: hidden;
        background-color:#f1f1f1;
        border: 1 solid #c5c5c5;
        padding: 5px;
        padding-left: 20px;
        border-bottom: 1px solid #d1d1d1;
        word-break: break-all;
        cursor: pointer;
        &:hover {
            background-color: #d6d6d6 !important;
        }
        i  {
            font-size: 35px;
            margin-right: 15px;
        }
        .des {
            >* {
                margin: 0;
            }
            h5 {
                margin-bottom: 6px;
            }
        }
        .view {
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.drop-menu-noti-all {
    width: 100%;
    >li {
        width: 100%;
    }
}

.table-data-partners {
    display: flex;
    flex-direction: column;
    tbody {
        display: flex;
        flex-direction: column;
        width: 100%;
        >tr {
            width: 100%;
            display: flex;
            >td {
                flex: 1;
            }
            &.Child1 {
                >td {
                    &:nth-child(1){
                        // padding-left: 4rem;
                        background-color: red;
                    }
                }
            }
            &.Child2 {
                >td {
                    &:nth-child(1) {
                        //padding-left: 6rem;
                        background-color: green;
                    }
                }

            }
        }
    }
}






