@charset 'UTF-8';


.btn {
    &.btn-primary {
        background-color: $color-pri;
        border-color: $color-pri;

        &:active {
            background-color: $color-pri !important;
        }
    }
}
