@charset 'UTF-8';

.main-footer {
    background: #FFF;
    padding: 1rem 0;
    p {
        margin-bottom: 0;
    }
}

.footer-info {
    padding: 2.5rem 0;
    background: #EEEEEE;
    .desc {
        font-size: .75rem;
    }
}

.logo-list {
    display: flex;
    align-items: center;
    //justify-content: center;
    padding-bottom: 2.5rem;

    >a {
        img {
            max-height: 56px;
        }

        &+a {
            margin-left: 2rem;
        }
    }
}