@charset 'UTF-8';


/* Main Nav */

.main-nav {
    border-bottom: solid 1px #EEE;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

}

.main-logo {
    img {
        max-height: 32px;
    }
}

.links {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    top: 0;

    >a {
        display: block;
        padding: 1rem;
    }
}

// noticBtn
.noticBtn {
    color: rgba(black, .5);
    cursor: pointer;
}
.drop-menu-mobile {
    position: fixed !important;
    top: 58px;
    right: 0;
    width: calc(100% - 10px) !important;
    margin: 0 5px;
}

.wrap-text-Notic {
    background-color: #d61921;
    color: white;
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 10px;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.nav-link {
    padding: .5rem .5rem !important;
}
.btn-linkregister {
    width: 40px;
    height: 40px;
}
.wrap-linkregister  {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
input.linkregister {
    flex: 1;
    max-width: 300px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    padding: 5px;
    border: none;
    pointer-events: none;
    background-color: #d9d9d9;

}

.list-unstyled {
    display: flex;
    flex-direction: column;
}


#navFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .055);
    justify-content: center;
    transform: translateY(100%);
    transition: transform .3s ease;
    .box-icon {
        padding-top: 10px;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f5f5f5;
        padding: 0px 15px;
        margin-bottom: 3px;
        &:nth-child(1){
            margin-top: 3px;
        }
        &:nth-last-child(1){
            margin-bottom: 0;
        }
        i {
            font-size: 10px;
            margin-right: 8px;
            line-height: 1;
        }
        h6,
        small {
            font: 700 normal 14px "Nunito", "Bai Jamjuree";
            margin: 0;
            line-height: 1;
        }
        small {
            font-weight: 400;
        }
    }
    &.open {
        transform: translateY(0);
    }
}

