@charset 'UTF-8';
@media only screen and (max-width:767px) {

    .main-logo {
        width: auto;
        background: none;
    }


    .my-fund {
        .fund-summary {
            p {
                &.amount {
                   
                }
            }
        }
    }

    .my-profile {
        position: relative;
        z-index: 0;
        color: #FFF;
        padding: 3rem 2rem 2rem;

        &:before {
            display: block;
            content: '';
            background: rgba(0,0,0,.8);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }

        .greeting {

        }
    }

    .welcome-home {
        display: block;
        
    }

    .member-login {
        width: auto !important;
        margin:1rem !important;
        padding: 2rem !important;
        background: rgba(255, 255, 255, .9);
    }

    .modal-container {
        width: auto !important;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    
}

@media only screen and (min-width:767px) {
    input.linkregister {
        min-width: 300px;
    }
    .welcome-home {
       min-height: 100vh;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {}

@media only screen and (max-width:991px) {

}

@media only screen and (min-width:992px) {
  

    
}

@media only screen and (min-width:992px) and (max-width:1199px) {

}

@media only screen and (max-width:1199px) {
  
    .main-content {
        width: 100% !important;
        margin-left: 0 !important;
    }
    .content-area {
        padding: 1rem !important;
    }
}

@media only screen and (min-width:1200px) {}

