@charset 'UTF-8';
//Variables
// Color
$color-pri:#478bf6;
$color-sec:#666;
$color-border: #EEE;
$color-link: #000;

.text-success {
    color: $color-pri !important;
}
.border-success {
    border-color: $color-pri !important;
}
.btn-success {
    background-color: $color-pri !important;
    border-color: darken($color-pri, 3%) !important;
    &:hover,&:active {
        background-color: darken($color-pri, 5%) !important;
        border-color: darken($color-pri, 8%) !important;
    }
}
.btn-outline-success {
    color: $color-pri !important;
    border-color: darken($color-pri, 3%) !important;
    &:hover,&:active {
        background-color: darken($color-pri, 5%) !important;
        color: white !important;
    }
}
.wrap-text-Notic {
    background-color: $color-pri !important;
}
// Font
$font-pri: 'Nunito',
'Bai Jamjuree';

html,
body {
    font-size: 16px;
    background: #f5f5f5;
    font-family: $font-pri;
    min-height: 100%;
}

a {
    color: $color-link;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

.clearfloat {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

input {
    &[type="file"] {
        height: auto !important;
    }
}

.register-form {

    select,
    input {

        &[name="bank_name"],
        &[name="passport"],
        &[name="bank_num"] {
            margin-bottom: 1rem;
        }
    }
}

// loader

.lds-spinner {
    color: #333;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-spinner-white {
    color: white !important;
    div{
        &:after {
            background-color: white !important;
        }
    }
   
}

.mini-spiner {
    transform: scale(.5);
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #333;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Heading

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900|Bai+Jamjuree:400,700');

// Font Face
@font-face {
    font-family: 'System';
    font-style: normal;
    font-weight: 400;
    src:
        local(".SFNSText-Light"),
        local(".HelveticaNeueDeskInterface-Light"),
        local(".LucidaGrandeUI"),
        local("Ubuntu Light"),
        local("Segoe UI Light"),
        local("Roboto-Light"),
        local("DroidSans"),
        local("Tahoma");
}

@font-face {
    font-family: 'Sarabun';
    src: url('../fonts/Sarabun/sarabun-bold-webfont.eot');
    src: url('../fonts/Sarabun/sarabun-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sarabun/sarabun-bold-webfont.woff2') format('woff2'),
        url('../fonts/Sarabun/sarabun-bold-webfont.woff') format('woff'),
        url('../fonts/Sarabun/sarabun-bold-webfont.ttf') format('truetype'),
        url('../fonts/Sarabun/sarabun-bold-webfont.svg#sarabunbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Sarabun';
    src: url('../fonts/Sarabun/sarabun-bolditalic-webfont.eot');
    src: url('../fonts/Sarabun/sarabun-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sarabun/sarabun-bolditalic-webfont.woff2') format('woff2'),
        url('../fonts/Sarabun/sarabun-bolditalic-webfont.woff') format('woff'),
        url('../fonts/Sarabun/sarabun-bolditalic-webfont.ttf') format('truetype'),
        url('../fonts/Sarabun/sarabun-bolditalic-webfont.svg#sarabunbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Sarabun';
    src: url('../fonts/Sarabun/sarabun-italic-webfont.eot');
    src: url('../fonts/Sarabun/sarabun-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sarabun/sarabun-italic-webfont.woff2') format('woff2'),
        url('../fonts/Sarabun/sarabun-italic-webfont.woff') format('woff'),
        url('../fonts/Sarabun/sarabun-italic-webfont.ttf') format('truetype'),
        url('../fonts/Sarabun/sarabun-italic-webfont.svg#sarabunitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Sarabun';
    src: url('../fonts/Sarabun/sarabun-regular-webfont.eot');
    src: url('../fonts/Sarabun/sarabun-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sarabun/sarabun-regular-webfont.woff2') format('woff2'),
        url('../fonts/Sarabun/sarabun-regular-webfont.woff') format('woff'),
        url('../fonts/Sarabun/sarabun-regular-webfont.ttf') format('truetype'),
        url('../fonts/Sarabun/sarabun-regular-webfont.svg#sarabunregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// style before render
[v-cloak] {
    display: none !important;
}
.table {
    margin-bottom: 0 !important;
}
.spin-ani {
    animation: spin .75s infinite;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
// Import

@import 'animate.css';
@import '_head';
@import '_body';
@import '_foot';
@import '_custom';
@import '_responsive';
